<div id="header">
    <div class="navigation">
        <a href="/"><img src="/images/twitter.svg" class="icons"></a>
        <a href="/"><img src="/images/archive.svg" class="icons"></a>
        <a href="/"><img src="/images/about.svg" class="icons"></a>
    </div>

    <div class="social">
        <a href="/"><img src="/images/twitter.svg" class="icons"></a>
        <a href="/"><img src="/images/facebook.svg" class="icons"></a>
        <a href="/"><img src="/images/plus.svg" class="icons"></a>
    </div>

</div>

<div id="menu">
    <h1>Journal</h1>
    <ul>
        $posts$
    </ul>
</div>

$body$
